@font-face {
    font-family: "Flaticon";
    src: url("../fonts/flaticon.eot");
    src: url("../fonts/flaticond41d.eot?#iefix") format("embedded-opentype"),
    url("../fonts/flaticon.woff") format("woff"),
    url("../fonts/flaticon.ttf") format("truetype"),
    url("../fonts/flaticon.svg#Flaticon") format("svg");
    font-weight: normal;
    font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    @font-face {
        font-family: "Flaticon";
        src: url("../fonts/flaticon.svg#Flaticon") format("svg");
    }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
    font-family: Flaticon;
    font-style: normal;
}

.flaticon-share-1:before {
    content: "\f100";
}

.flaticon-mail:before {
    content: "\f101";
}

.flaticon-mechanic:before {
    content: "\f102";
}

.flaticon-technical-support-1:before {
    content: "\f103";
}

.flaticon-guide:before {
    content: "\f104";
}

.flaticon-server:before {
    content: "\f105";
}

.flaticon-settings-3:before {
    content: "\f106";
}

.flaticon-headphones-1:before {
    content: "\f107";
}

.flaticon-calendar-1:before {
    content: "\f108";
}

.flaticon-api:before {
    content: "\f109";
}

.flaticon-technical-support:before {
    content: "\f10a";
}

.flaticon-browser-6:before {
    content: "\f10b";
}

.flaticon-email-1:before {
    content: "\f10c";
}

.flaticon-help:before {
    content: "\f10d";
}

.flaticon-network:before {
    content: "\f10e";
}

.flaticon-toolbox:before {
    content: "\f10f";
}

.flaticon-cloud-computing-1:before {
    content: "\f110";
}

.flaticon-browser-5:before {
    content: "\f111";
}

.flaticon-conversation:before {
    content: "\f112";
}

.flaticon-laptop-5:before {
    content: "\f113";
}

.flaticon-laptop-4:before {
    content: "\f114";
}

.flaticon-repair:before {
    content: "\f115";
}

.flaticon-browser-4:before {
    content: "\f116";
}

.flaticon-browser-3:before {
    content: "\f117";
}

.flaticon-bug-3:before {
    content: "\f118";
}

.flaticon-online-support-1:before {
    content: "\f119";
}

.flaticon-online-support:before {
    content: "\f11a";
}

.flaticon-rating-2:before {
    content: "\f11b";
}

.flaticon-hardware:before {
    content: "\f11c";
}

.flaticon-customer-support-1:before {
    content: "\f11d";
}

.flaticon-laptop-3:before {
    content: "\f11e";
}

.flaticon-bug-2:before {
    content: "\f11f";
}

.flaticon-bug-1:before {
    content: "\f120";
}

.flaticon-24-hours:before {
    content: "\f121";
}

.flaticon-rating-1:before {
    content: "\f122";
}

.flaticon-rating:before {
    content: "\f123";
}

.flaticon-settings-2:before {
    content: "\f124";
}

.flaticon-chat-3:before {
    content: "\f125";
}

.flaticon-customer-support:before {
    content: "\f126";
}

.flaticon-laptop-2:before {
    content: "\f127";
}

.flaticon-laptop-1:before {
    content: "\f128";
}

.flaticon-laptop:before {
    content: "\f129";
}

.flaticon-gold-medal:before {
    content: "\f12a";
}

.flaticon-people:before {
    content: "\f12b";
}

.flaticon-house-sketch:before {
    content: "\f12c";
}

.flaticon-medal-2:before {
    content: "\f12d";
}

.flaticon-target-1:before {
    content: "\f12e";
}

.flaticon-placeholder-1:before {
    content: "\f12f";
}

.flaticon-push-pin:before {
    content: "\f130";
}

.flaticon-airplane:before {
    content: "\f131";
}

.flaticon-attachment:before {
    content: "\f132";
}

.flaticon-gear:before {
    content: "\f133";
}

.flaticon-pencil:before {
    content: "\f134";
}

.flaticon-ruler:before {
    content: "\f135";
}

.flaticon-stats-1:before {
    content: "\f136";
}

.flaticon-id-card:before {
    content: "\f137";
}

.flaticon-key:before {
    content: "\f138";
}

.flaticon-user:before {
    content: "\f139";
}

.flaticon-group:before {
    content: "\f13a";
}

.flaticon-medal-1:before {
    content: "\f13b";
}

.flaticon-truck-2:before {
    content: "\f13c";
}

.flaticon-shopping-cart-1:before {
    content: "\f13d";
}

.flaticon-euro:before {
    content: "\f13e";
}

.flaticon-dollar:before {
    content: "\f13f";
}

.flaticon-wallet:before {
    content: "\f140";
}

.flaticon-credit-card:before {
    content: "\f141";
}

.flaticon-transport:before {
    content: "\f142";
}

.flaticon-rocket-ship:before {
    content: "\f143";
}

.flaticon-play-button-1:before {
    content: "\f144";
}

.flaticon-headset:before {
    content: "\f145";
}

.flaticon-star-1:before {
    content: "\f146";
}

.flaticon-wine:before {
    content: "\f147";
}

.flaticon-sprout:before {
    content: "\f148";
}

.flaticon-plus-1:before {
    content: "\f149";
}

.flaticon-cancel-1:before {
    content: "\f14a";
}

.flaticon-arrows:before {
    content: "\f14b";
}

.flaticon-cupcake:before {
    content: "\f14c";
}

.flaticon-plus:before {
    content: "\f14d";
}

.flaticon-minus:before {
    content: "\f14e";
}

.flaticon-close:before {
    content: "\f14f";
}

.flaticon-check:before {
    content: "\f150";
}

.flaticon-download-2:before {
    content: "\f151";
}

.flaticon-menu:before {
    content: "\f152";
}

.flaticon-list:before {
    content: "\f153";
}

.flaticon-question:before {
    content: "\f154";
}

.flaticon-warning:before {
    content: "\f155";
}

.flaticon-information:before {
    content: "\f156";
}

.flaticon-music:before {
    content: "\f157";
}

.flaticon-light-bulb:before {
    content: "\f158";
}

.flaticon-envelope-1:before {
    content: "\f159";
}

.flaticon-power-button:before {
    content: "\f15a";
}

.flaticon-flag:before {
    content: "\f15b";
}

.flaticon-basketball:before {
    content: "\f15c";
}

.flaticon-wifi:before {
    content: "\f15d";
}

.flaticon-snowflake:before {
    content: "\f15e";
}

.flaticon-calendar:before {
    content: "\f15f";
}

.flaticon-alarm-clock:before {
    content: "\f160";
}

.flaticon-envelope:before {
    content: "\f161";
}

.flaticon-shopping-bag:before {
    content: "\f162";
}

.flaticon-speaker:before {
    content: "\f163";
}

.flaticon-monitor:before {
    content: "\f164";
}

.flaticon-shopping-cart:before {
    content: "\f165";
}

.flaticon-headphones:before {
    content: "\f166";
}

.flaticon-vector:before {
    content: "\f167";
}

.flaticon-photo-camera:before {
    content: "\f168";
}

.flaticon-hand:before {
    content: "\f169";
}

.flaticon-dislike:before {
    content: "\f16a";
}

.flaticon-book:before {
    content: "\f16b";
}

.flaticon-reload:before {
    content: "\f16c";
}

.flaticon-chat-2:before {
    content: "\f16d";
}

.flaticon-chat-1:before {
    content: "\f16e";
}

.flaticon-chat:before {
    content: "\f16f";
}

.flaticon-copy:before {
    content: "\f170";
}

.flaticon-cancel:before {
    content: "\f171";
}

.flaticon-house-1:before {
    content: "\f172";
}

.flaticon-share:before {
    content: "\f173";
}

.flaticon-upload-1:before {
    content: "\f174";
}

.flaticon-musical-note:before {
    content: "\f175";
}

.flaticon-back:before {
    content: "\f176";
}

.flaticon-avatar-1:before {
    content: "\f177";
}

.flaticon-next-1:before {
    content: "\f178";
}

.flaticon-printer:before {
    content: "\f179";
}

.flaticon-location-pin:before {
    content: "\f17a";
}

.flaticon-shuffle:before {
    content: "\f17b";
}

.flaticon-avatar:before {
    content: "\f17c";
}

.flaticon-tag:before {
    content: "\f17d";
}

.flaticon-pie-chart:before {
    content: "\f17e";
}

.flaticon-edit:before {
    content: "\f17f";
}

.flaticon-star:before {
    content: "\f180";
}

.flaticon-folder-1:before {
    content: "\f181";
}

.flaticon-padlock:before {
    content: "\f182";
}

.flaticon-settings-1:before {
    content: "\f183";
}

.flaticon-upload:before {
    content: "\f184";
}

.flaticon-download:before {
    content: "\f185";
}

.flaticon-paper-plane:before {
    content: "\f186";
}

.flaticon-like:before {
    content: "\f187";
}

.flaticon-settings:before {
    content: "\f188";
}

.flaticon-heart:before {
    content: "\f189";
}

.flaticon-placeholder:before {
    content: "\f18a";
}

.flaticon-next:before {
    content: "\f18b";
}

.flaticon-garbage:before {
    content: "\f18c";
}

.flaticon-logout:before {
    content: "\f18d";
}

.flaticon-funnel:before {
    content: "\f18e";
}

.flaticon-translation:before {
    content: "\f18f";
}

.flaticon-viral-marketing:before {
    content: "\f190";
}

.flaticon-ranking:before {
    content: "\f191";
}

.flaticon-design:before {
    content: "\f192";
}

.flaticon-idea:before {
    content: "\f193";
}

.flaticon-cloud-computing:before {
    content: "\f194";
}

.flaticon-monitoring:before {
    content: "\f195";
}

.flaticon-bug:before {
    content: "\f196";
}

.flaticon-customer:before {
    content: "\f197";
}

.flaticon-backup:before {
    content: "\f198";
}

.flaticon-pay-per-click:before {
    content: "\f199";
}

.flaticon-sharing-archives:before {
    content: "\f19a";
}

.flaticon-shared-folder:before {
    content: "\f19b";
}

.flaticon-browser-2:before {
    content: "\f19c";
}

.flaticon-domain-registration:before {
    content: "\f19d";
}

.flaticon-online-shop:before {
    content: "\f19e";
}

.flaticon-email:before {
    content: "\f19f";
}

.flaticon-targeting:before {
    content: "\f1a0";
}

.flaticon-social-media:before {
    content: "\f1a1";
}

.flaticon-keywords:before {
    content: "\f1a2";
}

.flaticon-folder:before {
    content: "\f1a3";
}

.flaticon-medal:before {
    content: "\f1a4";
}

.flaticon-smartphone:before {
    content: "\f1a5";
}

.flaticon-screen:before {
    content: "\f1a6";
}

.flaticon-target:before {
    content: "\f1a7";
}

.flaticon-browser-1:before {
    content: "\f1a8";
}

.flaticon-browser:before {
    content: "\f1a9";
}

.flaticon-shield:before {
    content: "\f1aa";
}

.flaticon-link:before {
    content: "\f1ab";
}

.flaticon-devices:before {
    content: "\f1ac";
}

.flaticon-speedometer:before {
    content: "\f1ad";
}

.flaticon-analytics:before {
    content: "\f1ae";
}

.flaticon-stats:before {
    content: "\f1af";
}

.flaticon-search-2:before {
    content: "\f1b0";
}

.flaticon-coding:before {
    content: "\f1b1";
}

.flaticon-map:before {
    content: "\f1b2";
}

.flaticon-search-engine-1:before {
    content: "\f1b3";
}

.flaticon-search-engine:before {
    content: "\f1b4";
}

.flaticon-loupe-1:before {
    content: "\f1b5";
}

.flaticon-loupe:before {
    content: "\f1b6";
}

.flaticon-fan:before {
    content: "\f1b7";
}

.flaticon-waste:before {
    content: "\f1b8";
}

.flaticon-laborers:before {
    content: "\f1b9";
}

.flaticon-gloves:before {
    content: "\f1ba";
}

.flaticon-boots:before {
    content: "\f1bb";
}

.flaticon-roll-paint-brush:before {
    content: "\f1bc";
}

.flaticon-tool-box:before {
    content: "\f1bd";
}

.flaticon-cone:before {
    content: "\f1be";
}

.flaticon-color-palette:before {
    content: "\f1bf";
}

.flaticon-shovel:before {
    content: "\f1c0";
}

.flaticon-barrier:before {
    content: "\f1c1";
}

.flaticon-tank-truck:before {
    content: "\f1c2";
}

.flaticon-steamroller:before {
    content: "\f1c3";
}

.flaticon-forklift:before {
    content: "\f1c4";
}

.flaticon-truck-1:before {
    content: "\f1c5";
}

.flaticon-truck:before {
    content: "\f1c6";
}

.flaticon-excavator-2:before {
    content: "\f1c7";
}

.flaticon-excavator-1:before {
    content: "\f1c8";
}

.flaticon-demolition:before {
    content: "\f1c9";
}

.flaticon-crane-2:before {
    content: "\f1ca";
}

.flaticon-excavator:before {
    content: "\f1cb";
}

.flaticon-window:before {
    content: "\f1cc";
}

.flaticon-door:before {
    content: "\f1cd";
}

.flaticon-construction-vest:before {
    content: "\f1ce";
}

.flaticon-construction-2:before {
    content: "\f1cf";
}

.flaticon-hydraulic-breaker:before {
    content: "\f1d0";
}

.flaticon-glasses:before {
    content: "\f1d1";
}

.flaticon-hacksaw:before {
    content: "\f1d2";
}

.flaticon-nail:before {
    content: "\f1d3";
}

.flaticon-trowel:before {
    content: "\f1d4";
}

.flaticon-crane-1:before {
    content: "\f1d5";
}

.flaticon-saw:before {
    content: "\f1d6";
}

.flaticon-plumber:before {
    content: "\f1d7";
}

.flaticon-brick:before {
    content: "\f1d8";
}

.flaticon-sign:before {
    content: "\f1d9";
}

.flaticon-wheelbarrow:before {
    content: "\f1da";
}

.flaticon-pliers:before {
    content: "\f1db";
}

.flaticon-construction-1:before {
    content: "\f1dc";
}

.flaticon-demolition-crane:before {
    content: "\f1dd";
}

.flaticon-crane:before {
    content: "\f1de";
}

.flaticon-paint-brush:before {
    content: "\f1df";
}

.flaticon-hammer:before {
    content: "\f1e0";
}

.flaticon-screwdriver:before {
    content: "\f1e1";
}

.flaticon-measuring-tape:before {
    content: "\f1e2";
}

.flaticon-house:before {
    content: "\f1e3";
}

.flaticon-building:before {
    content: "\f1e4";
}

.flaticon-construction:before {
    content: "\f1e5";
}

.flaticon-paint-bucket:before {
    content: "\f1e6";
}

.flaticon-drill:before {
    content: "\f1e7";
}

.flaticon-blowtorch:before {
    content: "\f1e8";
}

.flaticon-telephone:before {
    content: "\f1e9";
}

.flaticon-search-1:before {
    content: "\f1ea";
}

.flaticon-phone-call-1:before {
    content: "\f1eb";
}

.flaticon-phone-call:before {
    content: "\f1ec";
}

.flaticon-search:before {
    content: "\f1ed";
}

.flaticon-play-button:before {
    content: "\f1ee";
}

.flaticon-water:before {
    content: "\f1ef";
}

.flaticon-plumber-tap:before {
    content: "\f1f0";
}

.flaticon-alarm-clock-outline:before {
    content: "\f1f1";
}

.flaticon-download-1:before {
    content: "\f1f2";
}